/* ===== Reset ===== */
body {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* ===== Tap Overlay ===== */
#tap-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    cursor: pointer;
    z-index: 9999;
}

/* ===== Background Video ===== */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
    display: none; /* hidden initially */
}

/* ===== Clickable Logo ===== */
#logo-link {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none; /* hidden initially */
    opacity: 0;
    transition: opacity 1.2s ease;
}

/* Logo Image */
#logo {
    width: 110px;
    height: auto;
    cursor: pointer;
}

/* Gallery Background Image*/
body.gallery {
    background-image: url('../images/sunset.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backgrounud-attachment: fixed;

}

/* ===== Utility Classes ===== */
.hidden {
    display: none;
}

.show {
    display: block;
    opacity: 1;
}
